.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore folder where health data is stored
*/health_data
# ignore data/too big
*/data/

# ignore pdf outputs of figures
*.pdf
# ignore r project file
*.Rproj
# ignore markdown image
*.png

# ignore non-zipped shapefile locations
*.cpg
*.dbf
*.prj
*.shp
*.shx

select_zip_exposure_time_series.html